*{
  margin: 0px;
  padding: 0px;
}

.login-div{
  text-align: center;
  
}


.signup-login-box{
  text-align: center;
}

/* Signup CSS*/
.signup-div{
  text-align: center;
}

/* sidebar-tools-section */
.sidebar-tools-section{
  display: flex;
}

.sidebar{
  border-right: 1px red solid;
}